body{
    font-family:Arial, Helvetica, sans-serif ;
    background-image: url(../img/background1.jpg);
    background-repeat: round;
    display: flex;
}
svg {
	width: calc(20% - 2rem);
	height: auto;
	background: #222;
	margin: 1rem;

}
.main_screeen{
  
    display: inline-flex;
    flex-wrap: wrap;
    
    
}
.main_screeen div{

    border-radius: 5px;

}
.add_new_task_menu{
    border: 1px solid rgb(219, 217, 217);
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;

    background-color: rgb(255, 255, 255);
 
}


 p , .input_data_task, .data_task{
 font-size: 14px;
 color: rgb(58, 57, 57);
 margin: 3px;
}
.add_new_task_menu div {
   margin-bottom: 20px;
}
h3  {
    font-size: 16px;
    font-weight: 700;
    margin-left: 3px;
    margin-bottom: 10px;
    margin: 10px;
    background-color: rgb(204, 205, 180);
}
.input_task, .add_memo_task, .input_group{
    width: 90%;
    height: 30px;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgb(28, 27, 27);/*1px 1px 5px blue, 5px 5px 15px orange;*/
}
.list_type_task{
    width: 150px;
    font-weight: 500;
    height: 30px;
    font-size: 14px;
}
   .btn_add_task, .btn_add_group{
    border-radius: 5px;
    color: rgb(255, 254, 254);
    background-color: rgb(8, 124, 160);
    width: 90%;
    height: 50px;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.groupTask{
   margin-right: 20px; 
   margin-bottom: 20px; 
    width: 300px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.btn_del_task{
    height: 20px;
    background-color: rgb(255, 4, 4);
    border-radius: 50%;
    color:aliceblue;
    
}
.div_task{
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: rgb(193, 193, 193);
    min-height: 100px;
    padding: 5px;
   /*  position: absolute; */
}
span  {
    font-size: 14px;
    font-weight: 600;
    margin-left: 3px;
    margin-bottom: 10px;
    margin: 10px;
}
.memo_task {
 margin-bottom: 20px;
 font-size: 16px;
 font-family:  Arial, Helvetica, sans-serif;
}
.header_task{
    display: flex;
    justify-content: space-between;
    background-color: rgb(44,44,47);
    height: 5px;
    color : white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;

}
/*  PRIORITET */
.div_Hight_prioritet, .div_Medium_prioritet, .div_Low_prioritet{
   padding: 5px;
    color: white;
    width: 40px;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;

}
.div_Hight_prioritet{   
    background-color: rgb(244, 9, 9);
    padding: 5px;
    font-size: 14px;
    height: 20px;
}
.div_Medium_prioritet{   
    background-color: rgb(204, 241, 18);
    color: rgb(20, 19, 19);
}
.div_Low_prioritet{   
    background-color: rgb(108, 246, 38);
    color: rgb(25, 24, 24);
}
.add_memo_task{
    height: 80px;
}
.btn_arov_task{

border-radius: 5px;
    color: rgb(255, 254, 254);
    background-color: rgb(8, 124, 160);
    width: 50px;
    height: 30px;
    padding: 10px;
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 20px;
}
.btn_edit_task{
    background-image: url(../img/1.png);
  /*   background-size: 100%; */
  background-repeat: round;
    width: 30px;
}
.div_footer_task{
    display: flex;
    justify-content: space-between; 
}
.p_data_task{
    text-align: right;
    text-decoration: overline;
    font-size: 14px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;

}
.input_task_area, .input_task_memo_b{
    outline: none;
    border: none;
    background-color: rgb(193, 193, 193);
    margin-bottom: 10px;
    width: 100%;
}
.input_task_memo_b{
    font-weight: bold;
}
.input_task_area {
    display: block;
  height: 100px;
    box-sizing: border-box;
    margin: 0 0 5px 0;
    padding: 10px;
    scroll-behavior: inherit;
    background-color: #fff;
    min-height: 54px;
    font-size: 14px;
    line-height: 1.2;
}
.input_data_task {
    outline: none;
    border: none;
    background-color: rgb(193, 193, 193);
    margin-bottom: 10px;

}
.btn_save{
    width: 50px;
    color: white;
    background-color: #0c3dfc;
    border-radius: 5px;
}
.btn_save_off{
    /*display: none;*/
}