body{
    font-family:Arial, Helvetica, sans-serif ;
    background-image: url(../img/background1.jpg);
}
.main_screeen{
    padding: 20px;
    display: inline-flex;
    
    
}
.main_screeen div{

    border-radius: 5px;
    height: auto;
}
.add_new_task_menu{
    border: 1px solid rgb(219, 217, 217);
    width: 300px;
    margin-right: 20px;
    padding: 10px;
   
    background-color: rgb(237, 219, 219);
 
}

 p {
 font-size: 12px;
 color: rgb(58, 57, 57);
 margin: 3px;
}
.add_new_task_menu div {
   margin-bottom: 20px;
}
h3  {
    font-size: 16px;
    font-weight: 700;
    margin-left: 3px;
    margin-bottom: 10px;
    margin: 10px;
    background-color: rgb(204, 205, 180);
}
.input_task, .add_memo_task{
    width: 90%;
    height: 30px;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgb(28, 27, 27);/*1px 1px 5px blue, 5px 5px 15px orange;*/
}
.list_type_task{
    width: 150px;
    font-weight: 500;
    height: 30px;
    font-size: 14px;
}
.btn_add_task{
    border-radius: 5px;
    color: rgb(255, 254, 254);
    background-color: rgb(8, 124, 160);
    width: 90%;
    height: 50px;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}
.backlog,.inWork,.testing,.done,.groupTask{
   margin-right: 20px; 
    width: 300px;
    padding: 10px;
    background-color: rgb(237, 219, 219);
}
.btn_del_task{
    width: 20px;
    height: 20px;
    background-color: rgb(19, 19, 19);
    margin: 0px;
    text-align: right;
    color:aliceblue;
    
}
.div_task{
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: rgb(173, 173, 173);
    min-height: 100px;
    padding: 5px;
   /*  position: absolute; */
}
span  {
    font-size: 14px;
    font-weight: 600;
    margin-left: 3px;
    margin-bottom: 10px;
    margin: 10px;
}
.memo_task {
 padding: 10px;
 margin-bottom: 20px;
}
.header_task{
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 124, 160);
    height: 20px;
    margin-bottom: 10px;
    align-items: center;

}
/*  PRIORITET */
.div_Hight_prioritet, .div_Medium_prioritet, .div_Low_prioritet{
   padding: 5px;
    color: white;
    width: 40px;
    font-size: 10px;
    text-align: center;
    border-radius: 2px;

}
.div_Hight_prioritet{   
    background-color: rgb(244, 9, 9);
}
.div_Medium_prioritet{   
    background-color: rgb(204, 241, 18);
    color: rgb(20, 19, 19);
}
.div_Low_prioritet{   
    background-color: rgb(108, 246, 38);
    color: rgb(25, 24, 24);
}
