body{
    font-family:Arial, Helvetica, sans-serif ;
}
.main_screeen{
    padding: 20px;
    display: inline-flex;
    
    
}
.main_screeen div{
    margin-left: 20px;
    border-radius: 10px;
}
.add_new_task_menu{
    border: 1px solid rgb(219, 217, 217);
    width: 300px;
  
    padding: 10px;
   
    background-color: rgb(237, 219, 219);
 
}

 p {
 font-size: 12px;
 color: rgb(58, 57, 57);
 margin: 3px;
}
.add_new_task_menu div {
   margin-bottom: 20px;
}
h3 {
    font-size: 16px;
    font-weight: 700;
    margin-left: 3px;
    margin-bottom: 10px;

}
.input_task{
    width: 90%;
    height: 30px;
    margin-left: 0;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgb(28, 27, 27);/*1px 1px 5px blue, 5px 5px 15px orange;*/
}
.list_type_task{
    width: 150px;
    font-weight: 500;
    height: 30px;
    font-size: 14px;
}
.btn_add_task{
    border-radius: 5px;
    color: rgb(255, 254, 254);
    background-color: rgb(8, 124, 160);
    width: 90%;
    height: 50px;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}
.backlog{
    
    width: 300px;
    padding: 10px;
    background-color: rgb(237, 219, 219);
}